
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,900&display=swap');


/**
 * ----------------------------------------
 * Constants
 * ----------------------------------------
 */

$primary-color: #421e78;
$primary-color-dark: darken($primary-color, 10%); 
$primary-color-medium: lighten($primary-color, 10%); 
$primary-color-light: lighten($primary-color, 35%); 
$primary-color-extra-light: lighten($primary-color, 45%); 

$navigation-color: #fff;
$navigation-text-color: #000;

$page-background: rgba(17, 27, 64, .8);
$page-background-contrast: #fff;
$page-background-contrast-hover: #c0c0c0;

$nav-color: #fff;

$sub-color: grey;
$main-text-color: #fff;
$highlight-color: #ffff00;


/**
 * ----------------------------------------
 * Main
 * ----------------------------------------
 */

html { 
  width: 100vw;
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  background: url("../src/images/47879864691_8f3d2266d0_k.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: auto;
  background-color: transparent !important;
  color: $main-text-color;
}

/**
 * ----------------------------------------
 * Helpers
 * ----------------------------------------
 */

.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.float-right {
  float: right;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlight {
  background-color: $highlight-color;
  padding: 1px 3px;
}

.bold {
  font-weight: 600;
}

.smaller {
  font-size: .9rem;
}


/**
 * ----------------------------------------
 * Sections
 * ----------------------------------------
 */

.page-layout {
  width: 100%;
  background-color: $page-background !important;
  border-radius: 2px;
  padding: 20px;
  margin: 10px 0;
  border-radius: 2px;

  .nav {
    a {
      color: $page-background-contrast;
    }
  
    a:hover {
      color: $page-background-contrast-hover;
    }
  }

  .nav-tabs {
    .nav-link:active, .nav-link.active {
      color: #000 !important;
    }  
  }

  h2 {
    margin-top: 10px;
  }

  h2, h3, p {
    color: $page-background-contrast;

    a {
      color: $page-background-contrast;
      font-weight: 600;
    }
  }
}

.links-bottom-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 80px;
  flex-wrap: wrap;
  position: relative;
  bottom: 0;
}

.empty-state {
  @extend .centered;
  padding: 20px;
  font-weight: 1.1rem;
  font-style: italic;
}

/**
 * ----------------------------------------
 * Sign In
 * ----------------------------------------
 */
.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

@mixin shrinkLabel {
  top: -20px;
  font-size: 12px;
  color: #fff;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
      color: #fff;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

/**
 * ----------------------------------------
 * Header, Footer
 * ----------------------------------------
 */


.alla-tillsammans {
  display: flex;
  align-items: center;

  .text-section {
    margin-left: 10px;
  }

  h3 {
    font-size: .8rem;
    font-weight: 300;
    margin: 0;

    &.bold {
      margin-right: 4px;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
  }
}

.header-label {
  position: fixed;
  top: 60px;
  background-color: $nav-color;
  color: $navigation-text-color;
  padding: 4px 10px;
  border-radius: 0 0 10px 10px;
  font-weight: 300;
  font-size: 1.3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: $highlight-color;
  background-color: $primary-color-dark;
   
  p {
    margin: 0
  }

  a {
    font-size: .9rem;
    margin-left: 6px;
    color: $highlight-color;
    font-weight: 600;
  }

  a:hover {
    color: darken($highlight-color, 10%)
  }
  
}
/**
 * ----------------------------------------
 * Components
 * ----------------------------------------
 */

.blurb {
  z-index: 10;

  img {
    width: 200px;
    position: absolute;
    left: 6%;
    top: 40%;
  }
}

.how-to {
  margin: 0 auto 20px !important;
}

.add-button {
  background-color: $primary-color;
  color: #fff;
}

.refresh-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.large-button-container {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
}

.large-icon-button {
  padding: 20px 30px;
  width: 385px;
  margin: 10px 0;
  border-radius: 50px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
}

.icon {
  width: 50px;
  margin-right: 15px;
}

//Accordion
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Buttons used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .1);
  padding: 18px;
  display: flex;
  align-items: center;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
  }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: rgba(255, 255, 255, .3);
}

/* Style the accordion content title */
.accordion__title {
  font-weight: 600;
  font-size: 1rem;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: rgba(255, 255, 255, .1);
  overflow: hidden;
  transition: max-height 0.4s ease;
}

/* Style the accordion content text */
.accordion__text {
  background-color: rgba(255, 255, 255, .1);
  padding: 18px;
  
  li {
    margin-bottom: 15px;
  }
}

/**
 * ----------------------------------------
 * Forms
 * ----------------------------------------
 */

.form {

  h3 {
    margin-left: 2px;
    font-size: 1.1rem;
    font-weight: 600;
    color: $page-background-contrast;
  }

  h4 {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    color: $page-background-contrast;
  }

  .error-text {
    color: 'red'
  }
}

/**
 * ----------------------------------------
 * Tables
 * ----------------------------------------
 */

.table {
  text-align: left;
  font-size: .8rem;
  background-color: #fff;
  color: #000;

  .td, th {
    padding: .35rem;
    white-space: nowrap;
  }

  .btn {
    font-size: .7rem;
    background-color: $primary-color-light !important;

    &.active {
      background-color: $primary-color !important;
    }
  }
}

.beskrivning {
  min-width: 300px;
}

.group-dropdown {
  min-width: 180px;
  margin-right: 8px;
}

.check {
  max-width: 60px;
  text-align: center;
  color: $primary-color-light;
  font-weight: 600;
}

.delete-btn {
  background-color: red;
}


/**
 * ----------------------------------------
 * Bootstrap Overrides
 * ----------------------------------------
 */
 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
  padding-top: 80px;
}

.accordion {
  .card-header {
    cursor: pointer;

    h6 {
      font-weight: 600;
    }
  }

  .card {
    background-color: transparent;
  }
}

a:hover {
  text-decoration: none;
}

.btn {
  font-size: 1.1rem;
  white-space: normal;
  background-color: $primary-color-medium;
  border-color: $primary-color-medium;
}

.btn:hover {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

.nav-pills .nav-link.active {
  background-color: $primary-color-dark !important;
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
  font-size: .8rem;
  color: #000;
  padding-right: 10px;
  margin-right: 10px;
}

.navbar-brand:hover {
  color: $primary-color-light !important;
}

.nav-link:hover, .nav-link:active, .nav-link.active {
  color: #fff !important;
  text-align: center;
  background-color: $page-background;
}

.bg-light {
  background-color: $nav-color !important;
}

//overrides the bootstrap navbar class which positions the navbar links to the left. We want them to the right.
.navbar-nav {
  margin-left: auto !important;
  margin-right: 0;
}

.navbar-light .navbar-toggler {
  border: 0;
}

button {
  outline: none !important;
}

ul {

  a {
    color: #fff;
    font-weight: 600;
  }
  a:hover {
    color: $primary-color-light;
  }
}

.form-group {
  p {
    font-size: .9rem;
    
    span {
      font-weight: 600;
    }
  }
}

.modal-content {
  background-color: $page-background;
}


/**
 * ----------------------------------------
 * Media Queries
 * ----------------------------------------
 */

 @media screen and (min-width: 0px) and (max-width: 400px) {
  .container {
    padding-top: 50px;
  }

  .footer {
    font-size: .9rem;
    padding: 5px;
  }

  .large-button-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
  }

  .large-icon-button {
    padding: 10px 15px;
    width: 280px;
    font-size: 1rem;
  }
   .text-section {
     h3 {
       font-size: .6rem
     }
     h2 {
      font-size: .8rem
    }
   }
  .dropdown-item {
    text-align: center;
  }
   h1, h2, h3, h4, h5, h6, p {
     margin-left: 0 !important;
   }
   h2 {
     font-size: 1.6rem;
   }
   ul {
     padding-left: 5px;
   }
   .header-label {
    top: 52px;
  }
  .hide-on-small { display: none; }  /* show it on small screens */
}

 @media only screen and (max-width: 980px) {
  .blurb { display: none} 
}