@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,900&display=swap");

/**
 * ----------------------------------------
 * Constants
 * ----------------------------------------
 */

$primary-color: #202e6a;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-medium: lighten($primary-color, 10%);
$primary-color-light: lighten($primary-color, 35%);
$primary-color-extra-light: lighten($primary-color, 45%);

$accent-color: #d53eff;

$navigation-color: #fff;
$navigation-text-color: #000;

$page-background: $primary-color;
$page-background-contrast: #fff;
$page-background-contrast-hover: #c0c0c0;

$nav-color: #fff;

$sub-color: grey;
$main-text-color: #fff;
$highlight-color: #ffff00;

//Button variables
$draw-color: #fff;
$button-end-color: $accent-color;
$btn-start-color: $primary-color;
$btn-border-radius: 5px;

/**
 * ----------------------------------------
 * Main
 * ----------------------------------------
 */

html {
  width: 100vw;
  max-width: 100vw;
  font-family: "Roboto", sans-serif;
  background: url("https://images.unsplash.com/photo-1451471016731-e963a8588be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2944&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: auto;
  background-color: transparent !important;
  color: $main-text-color;
}

/**
 * ----------------------------------------
 * Helpers
 * ----------------------------------------
 */
.flex {
  display: flex;
}

.bold {
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bottom-border {
  border-bottom: 0.5px solid lightgray;
}

/**
 * ----------------------------------------
 * Sections
 * ----------------------------------------
 */

.column-container {
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  margin: 2rem;
}

.text-column,
.button-column {
  display: flex;
  flex-direction: column;
}

.text-column {
  border-radius: 5px;
  padding: 15px;
  background-color: rgba(32, 46, 106, 0.8);
  width: 55%;

  .special-color {
    color: $accent-color;
  }
}

.button-column {
  width: 45%;
  flex-grow: 2;
  align-items: center;
  row-gap: 2rem;
}

.page-layout {
  width: 100%;
  background-color: $page-background !important;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 2px;

  .nav {
    a {
      color: $page-background-contrast;
    }

    a:hover {
      color: $page-background-contrast-hover;
    }
  }

  .nav-tabs {
    .nav-link:active,
    .nav-link.active {
      color: #000 !important;
    }
  }

  h2 {
    margin-top: 10px;
  }

  h2,
  h3,
  p {
    color: $page-background-contrast;

    a {
      color: $page-background-contrast;
      font-weight: 600;
    }
  }
}

/**
 * ----------------------------------------
 * Button effects
 * ----------------------------------------
 */

// Basic styles
.large-button,
.small-button {
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6);
  border: 0;
  box-sizing: border-box;

  // Using inset box-shadow instead of border for sizing simplicity
  box-shadow: inset 0 0 0 2px $btn-start-color;
  color: $btn-start-color;
  font-weight: 600;
  text-align: center;

  // Required, since we're setting absolute on pseudo-elements
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.large-button {
  padding: 2em 2em;
  width: 60%;
}

.large-button-accent {
  box-shadow: inset 0 0 0 2px #fff;
  background: rgba(32, 46, 106, 0.8);
  color: #fff;
}

.small-button {
  margin-left: -3px;
  padding: 0.5em 1em;
  font-size: 13px;
  margin-top: 5px;
  width: fit-content;
}

.draw {
  transition: color 0.25s;

  &::before,
  &::after {
    // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  // This covers the top & right borders (expands right, then down)
  &::before {
    top: 0;
    left: 0;
  }

  // And this the bottom & left borders (expands left, then up)
  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: $accent-color;
    font-weight: 800;
    background: rgba(32, 46, 106, 0.6);
  }

  // Hover styles
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $accent-color; // Make borders visible
    border-right-color: $accent-color;
    transition: width 0.25s ease-out,
      // Width expands first
      height 0.25s ease-out 0.25s; // And then height
  }

  &:hover::after {
    border-bottom-color: $accent-color; // Make borders visible
    border-left-color: $accent-color;
    transition: border-color 0s ease-out 0.5s,
      // Wait for ::before to finish before showing border
      width 0.25s ease-out 0.5s,
      // And then exanding width
      height 0.25s ease-out 0.75s; // And finally height
  }
}

// Inherits from .draw
.meet {
  &:hover {
    background: rgba(32, 46, 106, 0.8);
    color: $button-end-color;
    font-weight: 800;
  }

  // Start ::after in same position as ::before
  &::after {
    top: 0;
    left: 0;
  }

  // Change colors
  &:hover::before {
    border-top-color: $button-end-color;
    border-right-color: $button-end-color;
  }

  &:hover::after {
    border-bottom-color: $button-end-color;
    border-left-color: $button-end-color;
    transition: // Animate height first, then width
      height 0.25s ease-out, width 0.25s ease-out 0.25s;
  }
}

/**
 * ----------------------------------------
 * Header
 * ----------------------------------------
 */

.brand {
  display: flex;
  align-items: center;

  .text-section {
    margin-left: 10px;
  }

  h3 {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;

    &.bold {
      margin-right: 4px;
      font-weight: 600;
    }
  }

  h2 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
  }
}

.header-label {
  position: fixed;
  top: 60px;
  background-color: $nav-color;
  color: $navigation-text-color;
  padding: 4px 10px;
  border-radius: 0 0 10px 10px;
  font-weight: 300;
  font-size: 1.3rem;
}

.simple-link {
  color: #fff;
  font-weight: 600;
}

/**
 * ----------------------------------------
 * Components
 * ----------------------------------------
 */

.accordion {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 18px;
  display: flex;
  align-items: center;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.4s ease;
  margin-bottom: 10px;

  p {
    margin-bottom: 0;
  }
}

.accordion:hover,
.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.accordion-title {
  font-weight: 600;
  font-size: 1rem;
}

.accordion-icon {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.accordion-text {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 18px;

  a {
    color: $main-text-color;
    font-weight: 600;
    text-decoration: underline;
  }

  li {
    margin-bottom: 15px;
  }
}

/**
 * ----------------------------------------
 * Bootstrap Overrides
 * ----------------------------------------
 */

a:hover {
  text-decoration: none;
}

.btn {
  font-size: 1.1rem;
  white-space: normal;
  background-color: $primary-color-medium;
  border-color: $primary-color-medium;
}

.btn:hover {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

.nav-pills .nav-link.active {
  background-color: $primary-color-dark !important;
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #000;
  padding-right: 10px;
  margin-right: 10px;
}

.marked-nav-link {
  color: #fff !important;
  background-color: $primary-color;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link:active,
.nav-link.active {
  color: #fff !important;
  text-align: center;
  background-color: $page-background;
}

.navbar-brand:hover {
  color: $primary-color-light !important;
}

.bg-light {
  background-color: $nav-color !important;
}

// Overrides the bootstrap navbar class which positions the navbar links to the left. We want them to the right.
.navbar-nav {
  margin-left: auto !important;
  margin-right: 0;
}

.navbar-light .navbar-toggler {
  border: 0;
}

button {
  outline: none !important;
}

ul {
  a {
    color: #fff;
    font-weight: 600;
  }
  a:hover {
    color: $primary-color-light;
  }
}

.form-group {
  p {
    font-size: 0.9rem;

    span {
      font-weight: 600;
    }
  }
}

.modal-content {
  background-color: $page-background;
}

/**
 * ----------------------------------------
 * Media Queries
 * ----------------------------------------
 */

@media screen and (min-width: 0px) and (max-width: 600px) {
  .column-container {
    flex-wrap: wrap !important;
    margin: 0;
    flex-direction: column;
  }

  .text-column,
  .button-column {
    width: 100%;
  }

  .text-column {
    margin-top: 45px;
  }

  .button-column {
    margin-top: 20px;
    row-gap: 1rem;
    width: 100%;
  }

  .large-button {
    width: 100%;
  }

  .text-section {
    h3 {
      font-size: 0.6rem;
    }
    h2 {
      font-size: 0.8rem;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-left: 0 !important;
  }
  h2 {
    font-size: 1.6rem;
  }
  ul {
    padding-left: 5px;
  }
  .header-label {
    top: 52px;
  }
  .hide-on-small {
    display: none;
  } /* show it on small screens */
}

@media only screen and (max-width: 980px) {
  .nav-pills .nav-link {
    width: 100%;
  }
}
