
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,900&display=swap');


//Colors
$primary-color: #3d0099;
$primary-color-dark: darken($primary-color, 10%); 
$primary-color-medium: lighten($primary-color, 10%); 
$primary-color-light: lighten($primary-color, 35%); 
$sub-color: grey;
$main-color: black;


html { 
  width: 100vw;
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
  background: url("https://images.unsplash.com/photo-1509628061459-1328d06c2ced?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2582&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: auto;
  background-color: transparent !important;
  padding: 15px;
}

h6 {
  font-size: 1.1rem;
}



//Helpers
.centered {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.float-right {
  float: right;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


//SECTIONS
.page-layout {
  background-color: rgba(255, 255, 255, .8) !important;
  padding: 10px;
  margin: 10px 0;
}

//Sign in
.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 12px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}



@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  position: relative;
  margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

//Components
.blurb {
  background: $primary-color-light;
	background-image: -webkit-linear-gradient(bottom, rgba(251,236,63,.0) 75%, $primary-color-light 95%);
  background-image: -moz-linear-gradient(bottom, rgba(251,236,63,.0) 75%, $primary-color-light 95%);
  background-image: linear-gradient(bottom, rgba(251,236,63,.0) 75%, $primary-color-light 95%);
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 41%;
  left: 12%;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  padding: 10px;
  height: 140px;
  text-align: center;
  transform: rotate(-5deg);
  font-size: 14px;
	box-shadow: 0 1px 0px rgba(0,0,0,.55);  
}

.start-main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;

  h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
  }
  h4 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 15px;
  }
  h6 {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
  }
}

.main-header {
  padding-top: 20px;
  padding-bottom: 30px;

  a {
    color: $main-color;
    text-decoration: none;
  }

  .flex-side-by-side {
    display: flex;
    align-items: center;
  }

  h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
  }
  h4 {
    padding-top: 4px;
    padding-left: 7px;
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 0;
  }
  h6 {
    font-size: 13px;
    font-style: italic;
  }
}

.form-title {    
  font-weight: 800;
  font-size: 14px;
}

.large-icon-button {
  padding: 20px 30px;
  margin: 10px 0;
}

.nav-pill {
  margin: 20px 0;
  width: fit-content;

  a {
    color: #fff;
    padding: 10px 15px;
    background-color: #666;
    text-decoration: none;
    border-radius: 4px;
    font-size: 10px;
  }

  a:hover {
    background-color: #000;
    text-decoration: none;
  }
}


//Forms

.form {

  h3 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
  }

  .error-text {
    color: 'red'
  }
}

//Table

.table {
  text-align: left;
  font-size: .8rem;

  .beskrivning {
    min-width: 400px;
  }
   
  .td {
    padding: .35rem;
  }

  .btn {
    font-size: .7rem;
    background-color: $primary-color-light !important;

    &.active {
      background-color: $primary-color !important;
    }
  }
}

//Bootstrap overrides
.btn {
  font-size: 1.1rem;
  white-space: normal;
}

.btn-block {
  background-color: $primary-color-light;
}

.btn:hover {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

//Media queries
@media only screen and (max-width: 980px) {
  body {
    .blurb { display: none} 
  }
}